#container{

    margin: auto !important;
    border:2px royalblue;
     border-style: solid ;
    height: 500px !important; 
    
    

    width: 50% !important; 
     

}
.wrapper {
    margin: auto;
    text-align: center;
}

