#container{

    margin: auto !important;
     
    height: 500px !important; 
    display: flex ;
    

    width: 100% !important; 
     

}

#mynetwork{

    width:50% !important;
    height: 100%;
    flex-wrap: wrap;
    border: 1px royalblue !important;
    
}

#container2{
    width:50% !important;
    height: 100%;
    flex-wrap: wrap;
    border: 1px solid royalblue;

}


.wrapper {
    margin: auto;
    text-align: center;
}

